<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHSI9WynAdHoGFJgt743nh5yefwSXZmek</string>
	<key>GCM_SENDER_ID</key>
	<string>617511044198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.gentlemensshop</string>
	<key>PROJECT_ID</key>
	<string>login-page-8h9p0t</string>
	<key>STORAGE_BUCKET</key>
	<string>login-page-8h9p0t.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617511044198:ios:da8e06c62ae75ce52099a7</string>
</dict>
</plist>